{{>adminlinks}}

{{>adminSidebar}}
<script src="/admin/adminFormValidation/validation.js"></script>
<main class="main-wrap">
    {{>adminHeader}}

    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Coupon</h2>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Random Code will Generate</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/post-coupon" method="post">
                            <p id="errorCode"></p>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <input placeholder="Type here" name="description" class="form-control" rows="4"
                                    required>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Coupon value</label>
                                        <div class="row gx-2">
                                            <input placeholder="%" name="value" type="number" class="form-control"
                                                max="50" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Minmum Amount</label>
                                    <div class="row gx-2">
                                        <input placeholder="$" name="minAmt" type="number" class="form-control"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Expire date</label>
                                    <input type="date" name="date" class="form-control">
                                </div>
                            </div>
                              <div class="col-lg-4">
                                    <label class="form-label">UPTO</label>
                                    <div class="row gx-2">
                                        <input placeholder="$" name="upto" type="number" class="form-control"
                                            required>
                                    </div>
                                </div>
                            <div class="col-lg-4">
                                <label class="form-label">Coupon Type</label>
                                <select name="type" class="form-select">
                                    <option> Percentage</option>
                                    <option> Amount</option>
                                </select>
                            </div>
                    </div>

                </div>
            </div> <!-- card end// -->

        </div>
        <div>
            <button type="submit" onclick="return couponvalid()" class="btn btn-md rounded font-sm hover-up">Add
                Coupon</button>
        </div>
        </form>
        </div>
    </section> <!-- content-main end// -->

</main>
<script src="/admin/adminFormValidation/validation.js"></script>
{{>adminjs}}