{{>adminlinks}}
<body>
    <!-- ======= Header ======= -->
    {{>adminSidebar}}
    <main class="main-wrap">
        {{>adminHeader}}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                    class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>${{profit.[0].sum}}</span>

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i
                                    class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Ordered Products</h6> <span>{{total.[0].sum}}</span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="myChart" height="120px"></canvas>
                        </article>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-header border-0 pb-0">
                                <h4 class="fs-20">Payment Graph</h4>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="user" role="tabpanel">
                                        <canvas id="myChart3" width="100%" height="80%"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <canvas id="myChart1" style="width:50%;max-width:500px"></canvas>
                    </div>
                </div>
            </div>
            {{!-- fig --}}
        </section> <!-- content-main end// -->
    </main>
    <script>
    {{> adminjs }}
</html >