{{>adminlinks}}

{{>adminSidebar}}
 <main class="main-wrap">
    {{>adminHeader}}

     <div class="content-body">
            <div class="container-fluid">
                <div class="row">
					<div class="col-xl-8 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Sales Report</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form class="form-inline" action="/admin/day-sales-report" method="post">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <input type="date" name="day" class="form-control" placeholder="Date">
                                        </div>
                                        &nbsp; &nbsp; &nbsp; &nbsp; <button class="btn btn-primary mb-2">View the Daily Report</button>
                                    </form>
                                </div>
                            </div>

                              <div class="card-body">
                                <div class="basic-form">
                                    <form class="form-inline" action="/admin/monthly-sale" method="post">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <input type="month" class="form-control" name="month" placeholder="Date">
                                        </div>
                                       &nbsp;<button class="btn btn-primary mb-2">View the Monthly Report</button>
                                    </form>
                                </div>
                            </div>


                            <div class="card-body">
                                <div class="basic-form">
                                   <form action="/admin/year-sale" method="post">
                                        <th scope="col">Select Year:</th>
                                        <th scope="col">
                                            <select name="year" id="cars">
                                                <option value="2022">2022</option>
                                                <option value="2021">2021</option>
                                                <option value="2020">2020</option>
                                                <option value="2019">2019</option>
                                                <option value="2018">2018</option>
                                                <option value="2017">2017</option>
                                                <option value="2016">2016</option>
                                                <option value="2015">2015</option>
                                                <option value="2014">2014</option>
                                                <option value="201">2013</option>
                                                <option value="2012">2012</option>
                                                <option value="2011">2011</option>
                                            </select>
                                        </th>
                                        {{!-- <br> --}}
                                       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button type="submit" class="btn btn-primary m-2">View the Yearly Report</button>
                                                    
                                    </form>
                                </div>
                            </div>



                        </div>
					</div>	
                </div>
            </div>
     </div>
                    </main>
{{>adminjs}}    