<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a class="brand-wrap">
        <h1>ABAD</h1>
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li id="dashboard-tab" class="menu-item">
          <a class="menu-link" href="/admin/dashboard#dashboard-tab">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li id="product-tab" class="menu-item">
          <a class="menu-link" href="/admin/productmange#product-tab">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li id="orders-tab" class="menu-item">
          <a class="menu-link" href="/admin/order-management#orders-tab">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
        </li>
        <li id="user-tab" class="menu-item ">
          <a class="menu-link" href="/admin/usermange#user-tab">
            <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Customers</span>
          </a>
        </li>
        <li id="cata-tab" class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons  md-store"></i>
            <span class="text">Catagory</span>
          </a>
          <div class="submenu">
            <a href="/admin/categorymange#cata-tab">Catagories</a>
            <a href="/admin/sub-Catagory#cata-tab">Sub Catagories</a>
          </div>
        </li>
        <li id="banner-tab" class="menu-item">
          <a class="menu-link" href="/admin/banner#banner-tab">
            <i class="icon material-icons md-pie_chart"></i>
            <span class="text">Banner Mangement</span>
          </a>
        </li>
        <li id="offer-tab" class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-stars"></i>
            <span class="text">Offer Modules</span>
          </a>
          <div class="submenu">
            <a href="/admin/coupon#offer-tab">Coupon</a>
            <a href="/admin/catagory-offer#offer-tab">Catagory Offers</a>
          </div>
        </li>
        <li id="report-tab" class="menu-item">
          <a class="menu-link" href="/admin/sales-report#report-tab">
            <i class="icon material-icons  md-comment"></i>
            <span class="text">Sales Report</span> </a>
        </li>
      </ul>
      <hr>
      <br>
      <br>
    </nav>
  </aside>

  <script>
    var hash = window.location.hash;
    $(hash).addClass("active");
  </script>