{{!--
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link " href="/admin/usermange">
        <i class="bi bi-grid"></i>
        <span>Customer</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="/admin/categorymange">
        <i class="bi bi-grid"></i>
        <span>Category mangement</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="/admin/productmange">
        <i class="bi bi-grid"></i>
        <span>Product mangement</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="/admin/order-management">
        <i class="bi bi-grid"></i>
        <span>Order mangement</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/banner">
        <i class="bi bi-grid"></i>
        <span>Banner Mangement</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar--> --}}

<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <img src="assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item active">
          <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/productmange"> <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/order-management"> <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>

        </li>


        <li class="menu-item ">
          <a class="menu-link" href="/admin/usermange"> <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Customers</span>
          </a>

        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/categorymange"> <i class="icon material-icons md-store"></i>
            <span class="text">Catagories</span>
          </a>

        </li>

        <li class="menu-item">
          <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-pie_chart"></i>
            <span class="text">Banner Mangement</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/sales-report"> <i class="icon material-icons  md-comment"></i>
            <span class="text">Sales Report</span> </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-stars"></i>
            <span class="text">cuopon</span> </a>
        </li>


      </ul>
      <hr>

      <br>
      <br>
    </nav>
  </aside>