<header class="main-header navbar">
  <div class="col-search"></div>
  <div class="col-nav">
    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> 
      <i class="material-icons md-apps"></i> </button>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
      </li>
      <li>
        <a class="dropdown-item text-danger" href="/admin/signOut"><i
            class="material-icons md-exit_to_app"></i>Logout</a>
      </li>
    </ul>
  </div>
</header>