<hr>
  <div class="container pb-5" id="contact" style="background-color: #fff; height: 10%;">
        <div class="p-3">
            <div class="row  mb-5">
                <div class="col-lg-6">
                    <h1>Support Us</h1>
                </div>
          
            
                <div class="col-lg-5 col-md-6">
                    <p class="mb-2">office:</p>
                    <h3 class="fw-bold">kalamsery, kochi,kerala</h3>
                    <hr class="w-100">
                    <p class="mb-2">Call us:</p>
                    <h3 class="fw-bold">7306955181</h3>
                    <hr class="w-100">
                    <p class="mb-2">Mail us:</p>
                    <h3 class="fw-bold">sufiyanbmk@gmail.com</h3>
                    <hr class="w-100">
                    <p class="mb-2">Follow me:</p>
                    <div class="d-flex">
                        <!-- <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a> -->
                        <a class="btn btn-square btn-primary me-5 m-3" href="https://www.facebook.com/muhammad.sufiyan.33046" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary me-2 m-3" href="https://www.youtube.com/channel/UCrADrJV-y7Hn5KOAG5lPOsg" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary me-2 m-3" href="https://www.linkedin.com/in/muhammed-sufiyan-a8185a24a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {{!-- <div class="container-fluid bg-dark text-white">
     
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom text-secondary" href="#">Muhammad Sufiyan sm</a>, All Right Reserved.
                    </div>                          
        </div> --}}

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg></div>

<script src="/user/css/js/jquery.min.js"></script>
<script src="/user/css/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/user/css/js/popper.min.js"></script>
<script src="/user/css/js/bootstrap.min.js"></script>
<script src="/user/css/js/jquery.easing.1.3.js"></script>
<script src="/user/css/js/jquery.waypoints.min.js"></script>
<script src="/user/css/js/jquery.stellar.min.js"></script>
<script src="/user/css/js/owl.carousel.min.js"></script>
<script src="/user/css/js/jquery.magnific-popup.min.js"></script>
<script src="/user/css/js/aos.js"></script>
<script src="/user/css/js/jquery.animateNumber.min.js"></script>
<script src="/user/css/js/bootstrap-datepicker.js"></script>
<script src="/user/css/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/user/css/js/google-map.js"></script>
<script src="/user/css/js/main.js"></script>
<script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
<!---ajax  -->
<script src="/user/ajax/addToCart.js"></script>
<script src="/user/ajax/quantity.js"></script>
<script src="/user/ajax/whislist.js"></script>
<script src="/user/ajax/orderSubmition.js"></script>
<script src="/user/ajax/editProfile.js"></script>
<script src="/user/userformvalidation/passwordchange.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>