<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}
     <script src="/user/css/js/userSignup.js"></script>
     
         <script src="/user/css/js/otp.js"></script>
   </body>
</html>
