<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Create Account</h4>
			<p class="text-center">Get started with your free account</p>
			{{#if error}}
			<p style="color: red;">{{error}}</p>
			{{/if}}
			<form onclick="return validation()" action="/signupForm" method="post">
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					<input name="name" class="form-control" id="Name" onkeyup="namevalidation()" placeholder="Full name"
						type="text">
				</div> <!-- form-group// -->
				<p style="color:red" id="err1"></p>
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
					</div>
					<input name="email" class="form-control" id="Email" onkeyup="emailvalidation()"
						placeholder="Email address" type="email">
				</div> <!-- form-group// -->
				<p style="color:red" id="err2"></p>
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
					</div>
					<select class="custom-select" style="max-width: 120px;">
						<option selected="">+971</option>
						<option value="1">+972</option>
						<option value="2">+198</option>
						<option value="3">+701</option>
					</select>
					<input name="phoneNo" class="form-control" id="Phoneno" onkeyup="phoneNovalidation()"
						placeholder="Phone number" type="text">
				</div>
				<p style="color:red" id="err3"></p>

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" name="password" id="Password" onkeyup="passwordvalidate()"
						placeholder="Create password" type="password">
				</div>
				<p style="color:red" id="err4"></p>
				<!-- form-group// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" name="repassword" id="Repassword" onkeyup="validateRepass()"
						placeholder="Repeat password" type="password">
				</div>
				<p style="color:red" id="err5"></p>
				<!--formgroup-->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa"></i> </span>
					</div>
					<input class="form-control" name="referralCode" placeholder="Referal code">
				</div>
				<!-- form-group// -->
				<div class="form-group">
					<button type="submit" id="submit-btn" class="btn btn-primary btn-block"> Create Account </button>
				</div> <!-- form-group// -->
				<p class="text-center">Have an account? <a href="/login">Log In</a> </p>
			</form>
		</article>
	</div> <!-- card.// -->

</div>
<!--container end.//-->

{{!-- <br><br> --}}